:root {
  --primaryColor: hsl(94%, 59% 35%);
  --hoverColor: #bdf094;
  --paleGreen: hsl(96, 75%, 89%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 18%);
  --textcolor: hsl(240, 1%, 48%);
  --bgColor: hsl(220, 10%, 94%);
  --greyText: rgb(190, 190, 190);
  --inputColor: hsl(330, 12%, 97%);


  /* font on typograpy */
  --bigestfontsize: 2.5rem;
  --h1fontsize: 1.5rem;
  /* --h2fontsize: 1.25rem; */
  --h2fontsize: 20px;
  --h3fontsize: 1rem;
  --normalFontSize: .938rem;
  --smallfontSize: .800rem;
  --smallestFontSize: 0.75rem;
}

.searchBar .inputSearch {
  width: 400px;
  height: 40px;
  margin: 0 70px;
  border-radius: 8px;
}
/* .topSection .headerSection {
  justify-content: space-between;
} */
.topSection .headerSection h1 {
  font-size: var(--h1fontSize);
  font-weight: 700;
  color: var(--blackColor);
}