.mainContent {
    width: 82%;
    height: 100%;
    padding: 2rem;
    overflow: auto;
}
.sideBar {
    background: #9BE8D8;
    box-shadow: 1px 0px 4px var(--greyText);
    overflow: auto;
    width: 18%;
    height: 100%;
    gap: 3rem; }

/* fdjgfdkjg */
* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    transition: .3s ease;
}

html {
    font-size: 90%;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.icon {
    font-size: var(--h2fontsize);
}

img {
    width: 100%;
    height: auto;
}

/* .flex {
    display: flex;
    align-items: center;
} */

.grid {
    display: grid;
    align-items: center;
}

.btn {
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 2px 4px var(--inputColor);
    padding: .8rem 1rem;
    color: var(--textcolor);
}

.btn .icon {
    margin-left: .5rem;
}

.btn:hover {
    background-color: var(--paleGreen);
    color: var(--primaryColor);
}

body {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: auto;
    padding: 1rem;
}

.container {
    position: relative;
    height: 95vh;
    width: 95vw;
    display: flex;
    text-align: center;
    justify-content: center;
    background: var(--bgColor);
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: 2px 2px 4px var(--greyText);
}
/* .bottom {
    margin-top: 2rem;
    align-items: flex-start;
    gap: 2rem;
} */
/* End dash bord user */